$base-bgcolor: white;
$base-color: black;
$base-font-weight: 300;
$base-font-size: 1.69rem;
$base-line-height: 1.5;
$base-font-family: Helvetica Neue;
$base-font-family-fallback: sans-serif;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: $base-bgcolor;
  color: $base-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height}
      $base-font-family,
    $base-font-family-fallback;
  margin: 0;
  min-height: 100%;
}

.align {
  align-items: center;
  display: flex;
  flex-direction: row;

  &__item {
    &--start {
      align-self: flex-start;
    }

    &--end {
      align-self: flex-end;
    }
  }
}

.site {
  &__main {
  }

  &__logo {
    margin-bottom: 2rem;
  }
}

$input-placeholder-color: #7e8ba3;

input {
  border: 0;
  font: inherit;

  &::placeholder {
    color: $input-placeholder-color;
  }
}

.form {
  &__field {
    margin-bottom: 1rem;
  }

  input {
    outline: 0;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 25px;
    &[type="email"],
    &[type="password"] {
      width: 100%;
    }
  }
}

$grid-max-width: 25rem;
$grid-width: 100%;

.grid {
  margin: 0 auto;
  max-width: $grid-max-width;
  width: $grid-width;
}

h2 {
  font-size: 2.75rem;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

$link-color: black;

a {
  color: $link-color;
}
a:hover{
  text-decoration: underline;
  color: black;
}


.register {
  box-shadow: 0 0 250px #000;
  text-align: center;
  padding: 4rem 2rem;

  input {
    border: 1px solid #242c37;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;

    &[type="email"],
    &[type="password"] {
      background-repeat: no-repeat;
      background-size: 1.5rem;
      background-position: 1rem 50%;
    }

    &[type="email"] {
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#242c37"><path d="M256.017 273.436l-205.17-170.029h410.904l-205.734 170.029zm-.034 55.462l-205.983-170.654v250.349h412v-249.94l-206.017 170.245z"/></svg>');
    }

    &[type="password"] {
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#242c37"><path d="M195.334 223.333h-50v-62.666c0-61.022 49.645-110.667 110.666-110.667 61.022 0 110.667 49.645 110.667 110.667v62.666h-50v-62.666c0-33.452-27.215-60.667-60.667-60.667-33.451 0-60.666 27.215-60.666 60.667v62.666zm208.666 30v208.667h-296v-208.667h296zm-121 87.667c0-14.912-12.088-27-27-27s-27 12.088-27 27c0 7.811 3.317 14.844 8.619 19.773 4.385 4.075 6.881 9.8 6.881 15.785v22.942h23v-22.941c0-5.989 2.494-11.708 6.881-15.785 5.302-4.93 8.619-11.963 8.619-19.774z"/></svg>');
    }

    &[type="submit"] {
      background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
      color: #fff;
      margin-bottom: 6rem;
      width: 100%;
    }
  }
// html{
//     line-height: 1.15;
// }
.main-wrapper{

    height: 100%;
    width: 100%;
    // border: 2px solid black;
    background-color: black;
    opacity: 0.9;
    z-index: 2;
    display: flex;
    margin: 0;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
}

.left-side{
    width: 30%;
    height: 100%;
    float: left;
    background: linear-gradient( rgba(37,52,55,0.8),rgba(37,52,55,0.6) 50%,transparent );
    opacity: 1;
    text-align: left;
}

// .right-side{
//     width: 67%;
//     height: 100%;
//     float: right;
// }

.background{
    background-image: url("https://img.fiskerinc.com/image/upload/f_auto,c_limit,w_1920,q_auto/carmel-web/hero/hero.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    cursor: auto;
    // size: 100em;
    position: absolute; 
    box-sizing: border-box; 
    padding: 0px; 
    border: none; 
    margin: auto; 
    display: block; 
    width: 0px; 
    height: 0px; 
    min-width: 100%; 
    max-width: 100%; 
    min-height: 100%; 
    max-height: 100%; 
    object-fit: cover;
}

.logo{
    height: 100px;
}
.register{
position: relative;
display: inline-block;
background: linear-gradient( rgba(37,52,55,0.8),rgba(37,52,55,0.6) 50%,transparent );
padding: 100px 18px;
min-height: 100vh;
z-index: 1;}
.register-box {
    background-color: rgba(37,52,55,0.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 178px 155px 189px 81px;
    min-height: auto;
}
.register-text{
    font-size: 30px;
    line-height: 35px;
    -webkit-letter-spacing: 0.06em;
    -moz-letter-spacing: 0.06em;
    -ms-letter-spacing: 0.06em;
    letter-spacing: 0.06em;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    -webkit-letter-spacing: 0.06em;
    -moz-letter-spacing: 0.06em;
    -ms-letter-spacing: 0.06em;
    letter-spacing: 0.06em;
    color: #fff;
    margin-bottom: 12px;
}
.register-alt-text{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 36px;
}
.register-alt-text-a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #bdbdbd;
    margin-top: 60px;
    margin-bottom: 16px;
    display: flex;
}
// forms
.forms{
    width: 100%;
    display: grid;
    grid-gap: 16px;
    grid-area: auto;
    column-gap: 16px;
    grid-template-columns: [first] 10fr [second] 1fr [end];
    margin-bottom: 12px;
}
.forms-bgd{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.forms-grid{
    grid-column-start: first;
    grid-column-end: span end;
}
.forms-div{
    box-sizing: border-box;
}
.forms-input-text{
    text-rendering: auto;
    color:  white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 40px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;}
// .forms-input-format{
//     background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
//     cursor: text;
//     margin: 0em;
//     font: 400 13.3333px Arial;
//     padding: 1px 2px;
//     border-width: 2px;
//     border-style: inset;
//     border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
//     border-image: initial;
// }
.button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(37,52,55,0.8); /* Green */
    border: none;
    color: white;
    padding-left: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
