// html{
//     line-height: 1.15;
// }
.main-wrapper{

    height: 100%;
    width: 100%;
    // border: 2px solid black;
    background-color: black;
    opacity: 0.9;
    z-index: 2;
    display: flex;
    margin: 0;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
}

.left-side{
    width: 30%;
    height: 100%;
    float: left;
    background-color: 37,52,55,0.8;
    opacity: 1;
    text-align: left;
}

// .right-side{
//     width: 67%;
//     height: 100%;
//     float: right;
// }

.background{
    background-image: url("https://img.fiskerinc.com/image/upload/f_auto,c_limit,w_1920,q_auto/carmel-web/hero/hero.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    cursor: auto;
    size: 100em;
    position: absolute; 
    box-sizing: border-box; 
    padding: 0px; 
    border: none; 
    margin: auto; 
    display: block; 
    width: 0px; 
    height: 0px; 
    min-width: 100%; 
    max-width: 100%; 
    min-height: 100%; 
    max-height: 100%; 
    object-fit: cover;
}

.logo{
    height: 100px;
}
.register{
position: relative;
display: inline-block;
background: linear-gradient( rgba(37,52,55,0.8),rgba(37,52,55,0.6) 50%,transparent );
padding: 100px 18px;
min-height: 100vh;
z-index: 1;}
.register-box {
    background-color: rgba(37,52,55,0.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 178px 155px 189px 81px;
    min-height: auto;
}
.register-text{
    font-size: 30px;
    line-height: 35px;
    -webkit-letter-spacing: 0.06em;
    -moz-letter-spacing: 0.06em;
    -ms-letter-spacing: 0.06em;
    letter-spacing: 0.06em;
    margin-bottom: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    -webkit-letter-spacing: 0.06em;
    -moz-letter-spacing: 0.06em;
    -ms-letter-spacing: 0.06em;
    letter-spacing: 0.06em;
    color: #fff;
    margin-bottom: 12px;
}
.register-alt-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 36px;
}
.register-alt-text-a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #bdbdbd;
    margin-top: 60px;
    margin-bottom: 16px;
    display: flex;
}
// forms
.forms{
    width: 100%;
    display: grid;
    grid-gap: 16px;
    grid-area: auto;
    column-gap: 16px;
    grid-template-columns: [first] 10fr [second] 1fr [end];
    margin-bottom: 12px;
}
.forms-bgd{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.forms-grid{
    grid-column-start: first;
    grid-column-end: span end;
}
.forms-div{
    box-sizing: border-box;
}
.forms-input-text{
    text-rendering: auto;
    color:  white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 40px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;}
// .forms-input-format{
//     background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
//     cursor: text;
//     margin: 0em;
//     font: 400 13.3333px Arial;
//     padding: 1px 2px;
//     border-width: 2px;
//     border-style: inset;
//     border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
//     border-image: initial;
// }
button, input, optgroup, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}
